<p id="notice"><%= notice %></p>

<div class="panel panel-success">
<h1>Adoption Information Page</h1>
</div>


    <div class="container">
      <div class="left">
        <div class="panel panel-success panel-left">
        <div class="panel-heading">
          <h3 class="panel-body">
        </div>
      </div>
    </div>

      <div class="right">
        <div class="panel panel-primary panel-right">
        <div class="panel-heading">
          <h3 class="panel-title"> Information You Need to Know</h3>
          <h3 class="panel-body">
            PANEL information
          </div>
        </div>
    </div>
  </div>

<br>

<%= link_to 'Main Page', root_path, class:"btn btn-info" %>

<%= link_to 'Adoption Page', dogs_path, class:"btn btn-info" %>
