<p id="notice"><%= notice %></p>

<div class="navbar navbar-default">
  <div class="navbar-inner">
  <div class="container">
    <a class="navbar-brand" href="#">RESCUE ME</a>
    <ul class="nav navbar-nav">
      <li><a href= 'main_page' >Home</a></li>
      <li><a href="#">About Us</a></li>
      <li></li>
      <li class="divider-vertical"></li>
      <li><a href="dogs#index">Adopt</a></li>
      <li class="active"><a href="info_pages#index">Information</a></li>
      <li><a href="#">Sponsor</a></li>
      <li></li>
    </ul>
  </div>
</div>
</div>


<head>

<div class="jumbotron">
<h2>Adoption Information Page</h2>
</div>

</head>

<body>


<div class="col-md-6">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3>Search Options</h3>
      <div class="panel-body">
        <button id="alldogs-close-CSS"></button>
        <button id="puppies-close-CSS"></button>
        <button id="youngdog-close-CSS"></button>
        <button id="seniordog-close-CSS"></button>
        <button id="specialdogs-close-CSS"></button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="right"> -->
<!-- <div class="right","panel panel-primary panel-right"> -->
<!-- <div class="panel-heading"> -->

<div class="col-md-6">
  <div class="panel panel-primary">
    <h3 class="panel-title"> Information You Need to Know</h3>
    <h3 class="panel-body">

    </div>
</div>
</body>
