<p id="notice"><%= notice %></p>

<nav>
  <div class="navbar navbar-default">
    <div class="navbar-inner">
      <div class="container">
        <a class="navbar-brand" href="#"><strong>RESCUE ME</strong></a>
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", welcome_path %></li>
            <li><a href="#">About Us</a></li>
            <li class="divider-vertical"></li>
            <li><a href="dogs#show">Adopt</a></li>
            <li class="active"><a href="info_pages#index">Information</a></li>
            <li><a href="#">Sponsor</a></li>
          </ul>
        </div>
      </div>
    </div>
</nav>


<head>

<div class="panel panel-info">
    <div class="panel-heading", style="text-align:center">
    <h2>Adoption Information Page</h2>
  </div>
</div>

</head>

<body>

<div class="col-md-4">
  <div class="panel panel-success">
      <div class="panel-heading", style="text-align:center">
      <h3>Search Options</h3>
      <h5>Click to select</h5>
      <div class="panel-body">
        <button id="alldogs-close-CSS">All Dogs</button>

        <button id="puppies-close-CSS">Puppies</button>

        <button id="youngdog-close-CSS">Young Dogs</button>

        <button id="seniordog-close-CSS">Senior Dogs</button>

        <button id="specialdogs-close-CSS">Special Needs Dogs</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-8">
  <div class="panel panel-success">
      <h3 class="panel-heading", style="text-align:center"> What you need to know for your new family member</h3>
        <div class="panel-body">
            <div class="well well-sm well-success", style="text-align:center"><h4>How to Avoid Common Problems and Create a Successful Transition for Your New Dog</h4>
              <p>Your new dog was crate trained and socialized at Saving Grace. But that does not guarantee a seamless transition into your life, your house, and your routine. Your dog needs your time and effort to generalize his manners to your life. Set your dog up to succeed by planning ahead of time and sticking to your routine right off the bat.
            </p>
          </div>
            <div class="well well-sm well-info", style="text-align:center"><h4><u>With this in mind, you should assume that your new dog:</u></h4>
                <p>*Is not housetrained and needs to be taught this in your home, by you.</p>
                <p>**Needs your help to feel at ease when confined, both when you are at home and when you are away.</p>
                <p>***If not properly exercised, confined, supervised and given outlets for normal dog behavior, will chew on your things, counter surf, get into the trash, bark out the window, or be a nuisance in the yard. It is your job to prevent these annoying behaviors so that your dog will rehearse only behaviors that you like.</p>
          </div>

            <div class="well well-sm well-success", style="text-align:center"><h4><u>Puppy proofing your home</u></h4>
              <p> You’ve now decided what breed is a good fit for you and your family, and perhaps you have even the found the perfect puppy already! Congrats! Bringing a puppy home requires a lot more work than just picking it up and putting it in the car, - See more at:
            <a href="http://www.dogwatch.com/dogtails/2011/06/10/puppy-proofing-and-preparation">Dog Watch</a>
          </p>
          </div>

            <div class="well well-sm", style="text-align:center"><h4><u>Aproximate Veterinary Costs</u></h4>
            <p>Veterinary costs for dogs is something that you do need to keep up with and make sure you can afford them before you consider adopting a dog.  Many states have requirements about what vaccinations must be done and registering your dog with the city.  The following link is an approximate costs of vetinary care for a dog for the first year (puppy) and each following year. <a href="https://www.petfinder.com/pet-adoption/dog-adoption/annual-dog-care-costs/">Veterinary Costs</a> </p>
            </div>

            <div class="well well-sm", style="text-align:center"><h4><u>Recommended Vets</u></h4>
            <p>There are many good Veterinary Hospitals around, but we would advise talking with friends and checking reviews online.  We personally recommend <a href="http://www.caryvethospital.com">Cary Veterinary Hospital.</a> However you may not live near there and would need one closer, so click this link and see which one fits your needs:<a href="https://www.google.com/maps/search/recommended+veterinary+hospitals+in+raleigh+nc/@35.843768,-78.6450559,11z/data=!3m1!4b1">Recommended Veterinary Hospitals</a> Also make sure to have an emergency veterinary hospital for emergencies that happen in the off hours of the night.</p>
    </div>

            <div class="well well-sm", style="text-align:center"><h4><u>Dog Parks</u></h4>
          <p>There are alot of great dog parks in the area. Click on this link to see a map and a listing of these parks: <a href="http://raleighdurham.about.com/od/recreationandoutdoors/a/dog-parks.htm">Dog Parks</a></p>
      </div>

            <div class="well well-sm", style="text-align:center"><h4><u>Dog Day Camps, kennels and Pet Sitters</u></h4>
            <p><a href="https://www.google.com/maps/search/dog+day+camps+raleigh+nc/@35.843768,-78.6450559,11z/data=!3m1!4b1">Map of Dog Day Camps link</a> </p>
            <p><a href="https://www.google.com/maps/search/dog+kennels+raleigh+nc/@35.843768,-78.6450559,11z/data=!3m1!4b1"></a>Map of Dog Kennels for overnight boarding link</p>
            <p><a href="https://www.google.com/maps/search/petsitters+raleigh+nc/@35.843768,-78.6450559,11z/data=!3m1!4b1">Map of Pet Sitters link</a></p>

        </div>
      </div>

    </div>
</div>
</body>

<footer>
<h5> DISCLAIMER: THIS IS A CLASS INSTRUCTIONAL ASSIGNMENT AND IS IN NO WAY AN ACTUAL ORGANIZATION.</h5>
</footer>
