<p id="notice"><%= notice %></p>

<div class="navbar navbar-default">
  <div class="navbar-inner">
  <div class="container">
    <a class="navbar-brand" href="#">RESCUE ME</a>
    <ul class="nav navbar-nav">
      <li><a href= 'main_page' >Home</a></li>
      <li><a href="#">About Us</a></li>
      <li></li>
      <li class="divider-vertical"></li>
      <li><a href="dogs#index">Adopt</a></li>
      <li class="active"><a href="info_pages#index">Information</a></li>
      <li><a href="#">Sponsor</a></li>
      <li></li>
    </ul>
  </div>
</div>
</div>


<head>

<div class="panel panel-info">
  <div class="panel-heading">
    <h2>Adoption Information Page</h2>
  </div>
</div>

</head>

<body>

<div class="col-md-3">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3>Search Options</h3>
      <div class="panel-body">
        <button id="alldogs-close-CSS">All Dogs</button>
        <button id="puppies-close-CSS"></button>
        <button id="youngdog-close-CSS"></button>
        <button id="seniordog-close-CSS"></button>
        <button id="specialdogs-close-CSS"></button>
      </div>
    </div>
  </div>
</div>


<div class="col-md-9">
  <div class="panel panel-success">
    <h3 class="panel-heading"> Information You Need to Know</h3>
        <div class="panel-body">
          <div class="well well-sm">What you need for your new family member</div>

          <div class="well well-sm">Expectations</div>

          <div class="well well-sm">Puppy proofing your home</div>

          <div class="well well-sm">Aproximate Vetinary Costs</div>

          <div class="well well-sm">Recommended Vets</div>

          <div class="well well-sm">Dog Parks</div>

          <div class="well well-sm">Dog Day Camps, kennels and Pet Sitters</div>

        </div>
      </div>

    </div>
</div>
</body>
