// Place all the styles related to the Dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.well {
  color: steelblue;
}

.img-dog-avatar {
	display: block;
	height: 200px;
	margin: 0 auto;
}
